.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collegas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.collega {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px rgb(0 0 0 /.2);
    background: rgba(217, 243, 169, 0.2);
    border-radius: 1rem;
    padding-inline: .5rem;
}

.collega > img {
    aspect-ratio: 1;
    object-fit: cover;
}

.collega:nth-child(1) > img {
    object-position: 0%;
}

.collega:nth-child(2) > img {
    object-position: 50%;
}

.collega:nth-child(3) > img {
    object-position: 100%;
}

.avatar {
    padding: 1rem;
    width: 100%;
}

.avatar img {
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 2rem;
    padding: 1rem;
}

ul {
    margin-left: -1.25rem;
    margin-top: 0;
}